

<br /> <br /> <br />


<div class="container"> 

  <div class="container">
    <div class="col-xs-12">
      <h1 class="mt-4 mb-3">About</h1>
      <div class="row">
        <div class="col-lg-6">
          
          <img
            class="img-fluid rounded mb-4"
            src="assets/img/asphalt-logo.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-6">
          <h2>About Lauté Holdings</h2>
          <p>
            Lauté Holdings was found by Luan Taute in 2017 with a spark of inspiration to a better life for everyone.
          </p>
          <p>
            Starting a business is the easy part. Doing business is something completely different.
            We want to help young entrepreneurs who dont know where to start or what to do next and build
            long lasting business relationships to build a better future. 
          </p>
          <p>
            We live in a time where we can travel between two worlds in seconds. The physical world 
            and the digital world. The uprise of greater technologies are inevitable. We are using these technology
            to build a better tomorrow. 
          </p>
        </div>
      </div>

      
        <h1>Vision</h1>
        <p>We believe in business sustainability and strives to become a world-class web and business development company online.</p>
        <br />
        <h1>Mission</h1>
        <p>To build a global presence and business longevity through web services and business development.</p>
     

      <h1>Our Customers</h1>
      <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="assets/img/PP_black.png" alt="The Proper Prop Shop" />
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="assets/img/drphill.jpg" alt="Dr Phill Appliance Repair" />
        </div>
      </div>

    </div>
  </div>
</div>
<br />
