
<img src="assets/img/webdev.svg">

<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/services-page">Services</a>
    </li>
    <li class="breadcrumb-item active">Web Development</li>
  </ol>

  <h2>About Laute's Web Development</h2>
  <p> </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>

  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
    <br>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div>

  <br>

  <h2>About Modern Business</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>

      <br>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h3 class="card-header">Small Business Package</h3>
        <div class="card-body">
          <div class="display-4">R2500</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1 Page Web Design</li>
          <li class="list-group-item">Content</li>
          <li class="list-group-item">Copywriting</li>
          <li class="list-group-item">Social Media Links</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h3 class="card-header">Business Package</h3>
        <div class="card-body">
          <div class="display-4">R6000</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">3 Page Web Design</li>
          <li class="list-group-item">Content</li>
          <li class="list-group-item">Copywriting</li>
          <li class="list-group-item">Social Media Links</li>
          <li class="list-group-item">Contact Page</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h3 class="card-header">Enterprise Package</h3>
        <div class="card-body">
          <div class="display-4">From R8500</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">5+ Page Web Design</li>
          <li class="list-group-item">Content</li>
          <li class="list-group-item">Copywriting</li>
          <li class="list-group-item">Social Media Links</li>
          <li class="list-group-item">Contact Page</li>
        </ul>
      </div>
    </div>
  </div>

</div>
