
<img src="assets/img/digmark.svg">

<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/services-page">Services</a>
        </li>
        <li class="breadcrumb-item active">Digital Marketing</li>
      </ol>

      <br>

      <div class="row">
        <div class="col-lg-6">
          <h2>Social Media Advertising</h2>
          <p>Social media tag##</p>
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>LinkedIn</li>
          </ul>
          <p>Interesting fact: 54% of business to business marketers generated leads from social media. </p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="assets/img/dm-02.svg" alt="Social-Media-Icons">
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-lg-6">
          <h2>Google Advertising</h2>
          <p>Let's get you seen on the Google search engine:</p>
          <ul>
            <li>Search Engine Optimization</li>
            <li>Pay Per Click Advertising</li>
            <li>Google Display Ads</li>
            <li>Video Campaigns</li>
          </ul>
          <p>Interesting Fact: Google owns 71% of the search market share </p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="assets/img/dm-01.svg" alt="Google-Icon">
        </div>
      </div>

      <br>

<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h3 class="card-header">Social Media Package</h3>
      <div class="card-body">
        <div class="display-4">From R3500</div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Facebook</li>
        <li class="list-group-item">Instagram</li>
        <li class="list-group-item">LinkedIn</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h3 class="card-header">Google Package</h3>
      <div class="card-body">
        <div class="display-4">From R3750</div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Search Engine Optimization</li>
        <li class="list-group-item">Pay Per Click Advertising</li>
        <li class="list-group-item">Google Display Ads</li>
        <li class="list-group-item">Video Campaigns</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h3 class="card-header">Business Package</h3>
      <div class="card-body">
        <div class="display-4">From R7500</div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Social Media Marketing</li>
        <li class="list-group-item">Search Engine Marketing</li>
        <li class="list-group-item">Google Find my business</li>
        <li class="list-group-item">Business Listings</li>
        <li class="list-group-item">Business Directory Listings</li>
      </ul>
    </div>
  </div>
</div>

</div>
