
<img  src="assets/img/landing-page.svg" alt="Laute landing page"/>


<br>

<div class="container">
  <h1 class="my-5">Welcome to Lauté Holdings</h1>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Digital Marketing</h4>
        <div class="card-body">
          <p class="card-text">Everything we build, we start with Google. Why? Let’s face it Google owns the internet. 
            We can optimize your site to reach its full capacity beginning with a Google add.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/digital-marketing" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Web Development</h4>
        <div class="card-body">
          <p class="card-text">Do you have a website for you business? Or you already have one and need something more?</p>
        </div>
        <div class="card-footer">
          <a routerLink="/web-development" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Business Development</h4>
        <div class="card-body">
          <p class="card-text">We want to see you succeed in your journey as an Entrepreneur. Let's take your business to the next step.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/business-development" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Laute's Business Features</h2>
      <p> We can help you set up everything you need to get started</p>
      <ul>
        <li>
          <strong>Corporate Identity</strong>
        </li>
        <li>Web design</li>
        <li>Web Development</li>
        <li>Marketing Collateral</li>
        <li>Digital Marketing</li>
      </ul>
      <p>We live in a fast paced world and it is not always possible to do everything alone. You need a team and we can be that team. We want to see you succeed.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="assets/img/Startup.svg" alt="">
    </div>
  </div>

  <br>

  <div class="row mb-4">
    <div class="col-md-8">
      <p>Do you have any questions? Let's get connected.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" routerLink="/contact-page">Contact Us</a>
    </div>
  </div>
</div>
